*{
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    background: linear-gradient(to bottom, black,90%, rgb(89,76,1));
    background-size: cover;
    background-position: center;
    position: relative;
    
    overflow-x: hidden;
}
.header{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(images/background.png);
    background-size: cover;
    background-position: center;
    position: relative
}
  .mobile-nav-toggle {
    display: none;
}
nav{
    display:flex;
    padding: 0.5% 2%;
    justify-content: space-between;
    align-items: center;
    backface-visibility: hidden;
    font-family:'Amatic SC', cursive;
}
nav img{
    width: 300px
}
.nav-links {
      flex: 1;
      width: 50%;
      background-color: transparent;
      overflow: auto;
    }
.nav-links ul li {
      float: right;
      display: inline-block;
      padding: 14px 20px;
      position: relative;
    }
.nav-links ul li a{
      color: white;
      text-decoration: none;
      font-size: 35px
    }
.nav-links ul li a:hover{
      color: gold;
      transition: 0.5s;
}
.nav-links ul li::after{
          content: '';
          width: 0%;
          height: 2px;
          background: #f44336;
          display:block;
          margin: auto;
          transition: 0.5s;
}
.nav-links ul li:hover::after{
          width: 100%;
}
.social-links{
    display: flex;
    margin-left: 30px;
    justify-content: space-between;
    align-items: center;
    backface-visibility: hidden;
}
.social{
    width:50px;
    height: 50px;
    padding: 5px 5px;
    margin-right: 20px;
    transition: transform 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    border-radius: 50%;
    background-color: transparent;   
}
.social:hover{
    background-color: rgba(255,215,0,0.4);
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgba(255,215,0,0.4)  
}
.text-box{
    width: 70%;
    color: #fff;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-family: 'Special Elite', cursive;
    font-size: 42px;
    color: rgb(156,122,44); 
} 
   .sub-header h1{ 
    margin-top: 150px;   
    padding: 100px;
}
.text-box p{
    margin: 10px 0 2px;
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    font-weight: 400;
    color: white
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 2px solid #fff;
    padding: 12px 34px;
    font-family:'Amatic SC', cursive;
    font-weight: 400;
    font-size: 31px;
    background: rgba(255,215,0,0.4);
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 2px solid ;
    background: rgba(194,142,10);
    transition: 0.2s;      
}


/* general media */

@media only screen and (orientation: landscape)and (max-width: 1630px) {
    .social-links {
    display: none;
    }
    .text-box{
    margin-top: 150px;
    }
    .sub-header h1{ 
    margin-top: -50px;
    }
}

@media only screen and (min-width: 200px) and (max-width: 880px) {
    nav img{
    width: 200px
    }
    .social-links {
    display: none;
    }
    .social-links2 {
    display: block !important; 
    margin-left: 25px;   
    }
    .social{
    width: 40px;
    height: 40px;
    padding: 10px 10px;
    background-color: rgba(255,215,0,0.4);
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgba(255,215,0,0.4) 
    }
    .text-box{
    margin-top: 150px;
    }
    .text-box h1{
        font-size: 20px;
    }
    .text-box p{
        font-size: 15px;
    }
    .join h1{
        font-size: 25px;
    }
    .sub-header h1{ 
    margin-top: 80px;
    }
    
    .nav-links ul li{
        display:contents;

    }
    .nav-links{
        position:fixed;
        flex-direction: column;
        background: hsl(0, 0%, 100%, 0.1);
        backdrop-filter: blur(0.5rem);
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align:left;
        z-index: 1000;
        transition: 1s;
        
        transform: translateX(100%);
     }  
    
    .nav-links[data-visible="true"]
    {transform:translateX(0%);
    }
    
    .nav-links ul{
      padding: 30px;       
     }
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        background-image: url(images/menu.png);
        background-repeat: no-repeat;
        background-size: contain;
        border: 0;
        width: 1.54rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;      
    } 
    .mobile-nav-toggle[aria-expanded="true"]{
        background-image:  url(images/cross.png);
    }
    
     .hero-btn{
     display: none;
     }   
}  

@media only screen and (min-width: 478px) and (max-width: 1000px) {
      nav img{
    width: 300px
    }
    .text-box h1{
        font-size: 25px;
    }
    .text-box p{
        font-size: 20px;
    }
}

/* Collection */


.collection{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    position: relative
}
h1{
    color:white;
    font-size: 42px;
    font-weight: 600;
    font-family:'Amatic SC', cursive;
}
p{
    color:black;
    font-size: 35px;
    font-weight: 700;
    font-family:'Amatic SC', cursive;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between; 
}
.collection-col{
    flex-basis: 31%;
    background-color: rgb(156,122,44);
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 5;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.2s;
}
.collection-col a {
  text-decoration: none;
  color: black;
}
h3{
    text-align: center;
    margin: 10px 0;
    font-weight: 400;
    color: white;
    font-family: 'Special Elite', cursive;
}
.collection-col:hover{
    background:rgba(247,234,148);
    box-shadow: 0 0 20px 0px rgba(255,255,255,1.5); 
    cursor: pointer;
}

@media only screen and (min-width: 200px) and (max-width: 767px){
    .row{
    flex-direction: column;
    }
    .collection-col{
    margin-bottom: 10px;
    flex-basis: 100%;
    }
    .collection{
    margin-top: 150px;    
    }
}

/* Upcoming */


.upcoming{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 200px;
} 
.upcoming-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.upcoming-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(255,215,0,0.4);
}
p3{
    font-family: 'Special Elite', cursive;
    font-size: 42px;
    color: rgb(156,122,44);
}
.layer h3{
    width:100%;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 30%;
    opacity: 1;
    cursor: pointer;
    }


/* Join the community */

.join{
    margin: 300px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.7)),url(images/banner.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.social-links2 {
    display: none;
}

@media only screen and (min-width: 200px) and (max-width: 767px){
    .row{
    flex-direction: column;
    }
    .collection-col{
    flex-basis: 100%;
    }
    .roles-right span{
    font-size: 12px;
    color: white
    }
}


/* Footer */

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    color: white;
    font-family: 'Special Elite', cursive;
}
p2{
    color: white; 
    font-family:monospace;
    font-size: 15px;
}


/* About */


.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis: 48%;
    padding: 30px 2px;   
}
.about-col img{
 width: 100%   
}
.about-col h1{
    padding-top: 0;
} 

.about-col p{
    padding: 15px 0 25px;
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    font-weight: 400;
    color: white
}


/* Explore */


.explore{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
} 
.explore-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    background: rgba(15,15,15);
    box-shadow: 0 0 10px 5px rgba(15,15,15); 
}
.explore-col img{
    width: 50%;
    display: block;   
}

.layer1{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer1:hover{
    background: rgba(255,215,0,0.1);  
}

.explore-col h3{
    width: 20%;
    height: 170px;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 30%;
    transform: translateX(-70%);
    position: absolute;
    opacity: 0;
    transition: 1.5s;
    padding: 15px 10px;
    box-sizing: border-box;
    background: rgba(15,15,15,0.5);
}
.explore-col:hover h3{
    bottom: 50%;
    opacity: 1;
}

.explore-col p3{
    width:40%;
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    font-weight: 400;
    color: white;
    bottom: 30%;
    left: 60%;
    transform: translateX(-88%);
    position: absolute;
    opacity: 0;
    transition: 2s;
}
.explore-col:hover p3{
    color: white;
    left: 90%;
    opacity: 1;
}
.buy-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 2px solid #fff;
    padding: 12px 34px;
    font-family:'Amatic SC', cursive;
    font-weight: 400;
    font-size: 31px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255,215,0,0.4);
    position: absolute;
    cursor: pointer;
}
.buy-btn:hover{
    border: 2px solid ;
    background: rgba(194,142,10);
    transition: 0.2s; 
}

@media only screen and (min-width: 200px) and (max-width: 767px){
    .explore{
    width: 100%;
    padding-top: 0px;
    }
    .explore-col img{
    width: 100%;
    display: block;
    }
    .explore-col p3{
    display: none;
    }
    .explore-col h3{
    width: 100%;
    height: 80px;      
    font-size: 15px;   
    left: 50%;
    transform: translateX(-50%);   
    }
    .explore-col:hover h3{    
    bottom: 60%;  
    opacity: 1;
    background: transparent;      
    }
}

/* Minting */


.mint{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.mint-left{
    flex-basis: 65%;
}
.mint-left img{
    width: 100%;
}
.mint-left h2{
    color:white;
    font-family:'Amatic SC', cursive;
    font-size: 50px;  
    font-weight: 600;
    margin: 30px 40px;
}
.mint-left p{
    color:white;
    padding: 0px;
    margin: 30px;
    font-family: 'Special Elite', cursive;
    font-weight: 400;
    font-size: 20px;    
}
.mint-right{
   flex-basis: 45%;
   margin-top: 20%;
}
.mint-right h3{
    color: #fff;
    padding: 20px;
    font-size: 40px;
    margin: 60px;
    margin-bottom: 10px;
}
.mint-right div{
    color: blanchedalmond;
    box-sizing: border-box;
    background-color: rgb(112,84,20);
    font-family: 'Special Elite', cursive;
    font-size: 30px;  
    border-radius: 10px;
    margin: 30px;
    margin-bottom: 5;
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 0 10px 5px rgba(255,215,0,0.4) 
}
.mint-right img {
     width: 100%; 
}
.mint-right img:hover{
    box-shadow: 0 0 20px 0 rgba(22,89,1,1.5); 
    border-radius: 40px;
    cursor: pointer;
}

@media only screen and (min-width: 200px) and (max-width: 767px){

    .mint-left p{
    font-size: 15px;
    }
    .mint-right div{
    font-size: 10px;  
    }   
    .mint-left h2{
    display: none; 
    }
    .mint-left p{
    display: none; 
    }
    .mint-right h3{
    width: 100%;    
    font-size: 30px;   
    left: 50%;
    transform: translateX(-25%);  
    }
    .mint-right img {
    width: 100%;
    box-shadow: 0 0 30px 0px rgba(22,89,1,1.5); 
    border-radius: 40px;
    }
    .mint-right div{
    color: blanchedalmond;
    box-sizing: border-box;
    background-color: rgb(112,84,20);
    font-family: 'Special Elite', cursive;
    font-size: 29px;  
    margin: -20px;
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 0 10px 5px rgba(255,215,0,0.4)         
    }
}

/* Community */


.roles{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.roles-left{
    flex-basis: 65%;
}
.roles-left img{
    width: 100%;
}
.roles-left h2{
    color:white;
    font-family:'Amatic SC', cursive;
    font-size: 50px;  
    font-weight: 600;
    margin: 30px 40px;
}
.roles-left p{
    color:white;
    padding: 0px;
    margin: 30px;
    font-family: 'Special Elite', cursive;
    font-weight: 400;
    font-size: 20px;
}
.roles-right{
   flex-basis: 45%;
   margin-top: 20%;
}
.roles-right h3{
    color: #fff;
    background: rgba(255,215,0,0.4);
    padding: 7px 0;
    font-size: 20px;
    margin-bottom: 20px;
}
.roles-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    font-family: 'Special Elite', cursive;
    font-size: 20px;  
    padding: 8px;
    box-sizing: border-box;
}
    
    
    